/* body-styles */
body {
    margin: 0;
    background-color: #fff4e3;
    font-family: Comfortaa, sans-serif;
    color: #170a00;
}

/*nav-styles*/
nav {
    background-color: #fff4e3;
    min-height: 6vh;
    padding: 0.1vh;
    border-bottom: solid 0.3vh #bda786;
    text-align: center;
}

nav img {
    width: 13vw;
    height: 100%;
}

/*nav p {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*    margin: 2vw;*/
/*}*/

/* header-styles */

/*main-styles*/
main {
    min-height: 78vh;
}

/* footer-styles */
footer {
    background-color: #f9d79e;
    min-height: 7vh;
    padding: 0.1vh;
}