/* body-styles */
body {
    margin: auto;
    background-color: #fff4e3;
    font-family: Comfortaa, sans-serif;
    color: #170a00;
}

/*skip-button-styles*/
.skip {
    position: absolute;
    word-wrap: normal;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.skip:focus {
    clip: auto;
    z-index: 1;
}

/*nav-styles*/
nav {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff4e3;
    border-bottom: solid 0.3vh #bda786;
    padding: 0 3vw 0 43vw;
}

.logo {
    width: 13vw;
    height: 100%;
}

/* modal-styles */
#modal {
    display: none;
    position: fixed;
    z-index: 2;
    overflow: auto;
    background-color: #fff4e3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.modal-content span {
    background-color: #fff4e3;
    padding: 2vh;
    border-bottom: solid black 0.3vh;
}

.modal-content a {
    background-color: #fff4e3;
    padding: 2vh;
    border-bottom: solid black 0.3vh;
    text-decoration: none;
    color: #170a00;
}

.modal-content a:hover, .modal-content a:active {
    background-color: #062a1d;
    color: #fff4e3;
}

#close:hover {
    background-color: #062a1d;
    color: #fff4e3;
}

/*main-styles*/
main {
    min-height: 85vh;
}

/* footer-styles */
footer {
    background-color: #fff4e3;
    min-height: 5vh;
    padding: 0.1vh;
    border-top: solid 0.3vh #bda786;
    text-align: center;
}

/*
    <!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/915daa22f2.js" crossorigin="anonymous"></script>
    <script src="js/global.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="#main" class="skip">Ga naar hoofdcontent</a>
       <nav>
        <img class="logo" src="./img/restoramalogo.png" alt="logo">
        <i id="modal-open" class="fa-solid fa-bars"></i>
       </nav>
       <main id="main">
        <div role="navigation" id="modal">
            <div class="modal-content">
                <span id="close">close</span>
                <a href="index.html">reviews</a>
                <a href="#">reviews</a>
                <a href="#">reviews</a>
                <a href="#">reviews</a>
            </div>
        </div>
       </main>
       <footer>
        <img class="logo" src="./img/restoramalogo.png" alt="logo">
       </footer>
</body>
</html>
*/