h1 {
    font-size: 2.5rem;
    margin-left: 3vw;
}

h2 {
    font-size: 2.5rem;
    margin-left: 3vw;
}

p {
    font-size: 1.5rem;
    margin-left: 3vw;
}

.stars {
    margin: 0 0 6vh 3vw;
}

/* main-styles */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

form {
    margin: 4vh 2.5vw;
}

form label {
    text-align: center;
    font-size: 2rem;
    margin: 4vh 0;
    font-weight: bold;
}

form div {
    display: flex;
    flex-direction: column;
}

.searchbar input {
    border: solid 0.3vh #062a1d;
    background-color: #B4D7C2;
    font-family: Comfortaa, sans-serif;
    margin: 2vh 0;
    /*width: 94vw;*/
    padding: 4vw;
    font-size: 1.4rem;
}

form select {
    border: solid 0.3vh #062a1d;
    background-color: #B4D7C2;
    font-family: Comfortaa, sans-serif;
    margin: 2vh 0;
    /*width: 94vw;*/
    padding: 4vw;
    font-size: 1.4rem;
}

::placeholder {

    color: #170a00;
}

.button {
    font-family: Comfortaa, sans-serif;
    font-size: 1.3rem;
    background-color: #062a1d;
    border: solid 0.3vh #062a1d;
    color: #fff4e3;
    padding: 3vw;
}

.favorite {
    background-color: goldenrod;

}

.link {
    font-family: Comfortaa, sans-serif;
    font-size: 1.3rem;
    background-color: #062a1d;
    border: solid 0.3vh #bda786;
    margin: 3vw;
    text-align: center;
    padding: 2vh;
}

a {
    color: #fff4e3;
    text-decoration: none;
}

.border {
    border-top: solid 0.7vh #bda786;
    margin: 1vh 0;

}

.restaurant {
    padding: 2.5vw;
    width: 100vw;
}

.restaurant button {
    width: 90vw;
    height: 7vh;
}

#rating-stars-container {
    display: grid;
    width: 100px;
    margin-bottom: 3vh;
}

.rating-stars {
    grid-column: 1;
    grid-row: 1;
    height: 10vh;
}

.rating-stars-div {
    grid-column: 1;
    grid-row: 1;
    height: 10vh;
    background-color: #fff4e3;
    width: 10px;
}

.rating-stars-image {
    grid-column: 1;
    grid-row: 1;
    height: 10vh;
    padding-left: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.api {
    color: #170a00;
}