/* main-styles */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.searchbar form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.searchbar form label {
    text-align: center;
}

.searchbar form div {
    display: flex;
}

.searchbar input {
    padding: 4vw;
}

.button {
    background-color: #b9ffe4;
}

#restaurant {
    border: solid black 2px;
    width: 90vw;
    padding: 10px;
}

#restaurant button {
    width: 90vw;
    height: 7vh;
}

#rating-stars-container {
    display: grid;
    width: 100px;
}

.rating-stars {
    grid-column: 1;
    grid-row: 1;
    height: 5vh;
}

/* modal-styles */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #fff4e3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.modal-content span {
    background-color: #fff4e3;
    padding: 2vh;
    border-bottom: solid black 0.3vh;
}

.modal-content a {
    background-color: #fff4e3;
    padding: 2vh;
    border-bottom: solid black 0.3vh;
    text-decoration: none;
    color: #170a00;
}

.modal-content a:hover, .modal-content a:active {
    background-color: #E3FFF4;
}